﻿@using ReklamiraiSe.Resources
@using System.Text
@model IQueryable<ReklamiraiSe.Models.Product>

@{
    StringBuilder html = new StringBuilder(string.Format(@"<li class='offers-list-item add-offer'>
									<span class='offer-image'>{0}</span>
									</li>", Html.ActionLink(Resource.add_offer, "Create", "Offers", null, new { id = "add-offer-img" })));

    foreach (var item in Model)
    {
        var image = item.Images.FirstOrDefault();
        html.Append(string.Format(@"<li class='offers-list-item'>
									<span class='offer-image'><img src='{0}' alt='{1}' height='100px' width='100px' class='main-offer-image' /></span>
                                    <div class='price'>{2}: {3}</div></li>",
                                    image != null ? image.PathSmallImage : string.Empty,
                                    item.Title,
                                    Resource.offers_price,
                                    item.PricePerHour));
    }
}

<section>
    <ul class="offers-list" ng-controller="offersController">
        @Html.Raw(html)
    </ul>
</section>
<link href="~/Content/jquery.fancybox.css" rel="stylesheet" />
@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/jquery.fancybox.pack.js"></script>
<script src="~/Scripts/controllers/offers.js"></script>