﻿body, html {
	width: 100%;
	height: 100%;
	background: url("../Images/tree_background.png") repeat;
}

	body .container {
		width: 100%;
	}

		body .container .main-content {
			width: 100%;
		}

body #wrapper{
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    position: relative;
    padding:10px;
    border-radius:10px;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
	white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
	max-width: 280px;
}

div.error-message {
	color: #ff3344;
}

li.offers-list-item {
	width: 20%;
    height:132px;
    background: #f7f7f7;
	display: inline-block;
	padding: 10px 5px;
    word-break: break-all;
    margin: 0 0 30px 10px;
        position:relative;
        cursor:pointer;
        border-radius:15px;
}

li.offers-list-item:hover{
    box-shadow: 2px 2px 5px #a8a8a8;
}

li.offers-list-item.add-offer .offer-image {
    position:absolute;
    left:40px;
}

.home-content .home-offers .price{
    text-align:center;
        position: absolute;
    bottom: 0;
    left: 5px;
}

.home-categories, .home-categories ul {
	width:100%;
}

.home-content{
    width:100%;
    margin:0 auto;
}

.home-content .home-offers .offer-image{
    display: inline-block;
    float: left;
}

.home-content .home-offers .price{
    font-weight:bold;
}
 
        a:hover{
            text-decoration:underline;
        }

        .body-content .main-footer{
            width:100%;
            height:50px;
            border: 1px dashed #000;
            padding:10px
        }

        .image-slider{
            text-align:center;
            padding: 10px;
        }

        header {
            background:#fff;
             -webkit-box-shadow: 5px 8px 5px 0px rgba(168,168,168,0.45);
        -moz-box-shadow: 5px 8px 5px 0px rgba(168,168,168,0.45);
        box-shadow: 5px 8px 5px 0px rgba(168,168,168,0.45);
        }

        header a{
            color: #63cb65;
        }

        header nav{
            max-width:1000px;
            margin:0 auto;
            
        
        }

        .page-navigation{
            background:#6e7482;
            height:50px;
        }