﻿<!DOCTYPE html>
<html>
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="@ViewBag.Description">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
</head>
<body class="body-content">
   
    <header>
        <nav class="navbar">
            @Html.ActionLink("LevGrow", "Index", "Home", this.Request.Url.Scheme, this.Request.Url.Host, string.Empty, new { area = "" }, new { @class = "navbar-brand" })
            @Html.Partial("_LoginPartial")
        </nav>
        
    </header>
    <nav class="page-navigation">
    </nav>
    <div id="wrapper">
       
        <section class="important-messages"></section>
        <section class="container main-content">
            @RenderBody()
        </section>
        <footer class="fb-like main-footer" data-href="https://www.facebook.com/bulgrow" data-width="100%" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></footer>
    </div>
    <div id="fb-root"></div>
    <script src="~/Scripts/plugins/fbPlugin.js"></script>
</body>
</html>
